<div class="min-height width-page" *ngIf="isLoggedIn">
    <div class="header-container">
        <h1 class="panel-title">Panel de Monitoreo</h1>
        <p class="last-update">📅 Fecha y hora último monitoreo: miércoles, 18 de junio de 2025 - 08:00 AM</p>
    </div>

    <div class="cards-container">
        <div class="card generalShadow borderRadius" >
            <div class="card-icon icon-temperatura">🌡️</div>
            <div class="card-label">Temperatura</div>
            <div class="card-value">25°C</div>
        </div>
        <div class="card generalShadow borderRadius" >
            <div class="card-icon icon-humedad">💧</div>
            <div class="card-label">Humedad</div>
            <div class="card-value">70%</div>
        </div>
        <div class="card generalShadow borderRadius" >
            <div class="card-icon icon-alerta">⚠️</div>
            <div class="card-label">Alerta</div>
            <div class="card-value">Sin anomalías</div>
        </div>
    </div>
    <div class="" style="height: 60px;"></div>
</div>