<div class="min-height width-page">
    
    <h1 class="panel-title">Historial de Datos Ambientales</h1>
    

    <div class="table-container generalShadow borderRadius">
        <table class="data-table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Temperatura</th>
                    <th>Humedad</th>
                    <th>Alerta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Fecha">2025-06-18</td>
                    <td data-label="Hora">07:00</td>
                    <td data-label="Temperatura">24°C</td>
                    <td data-label="Humedad">68%</td>
                    <td data-label="Alerta">Sin anomalias</td>
                </tr>
                <tr>
                    <td data-label="Fecha">2025-06-18</td>
                    <td data-label="Hora">12:00</td>
                    <td data-label="Temperatura">32°C</td>
                    <td data-label="Humedad">60%</td>
                    <td data-label="Alerta">Calor</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class=""></div>
</div>