.containerHeader{
    background-color: var(--green);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 0 5%;
    display: flex;
}

.left{
    display: flex;
    align-items: center;
    column-gap: 10px;
    img{
        width: 50px;
    }
    span{
        color: #FFFFFF;
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        font-weight: 400;
    }
}

.right{
    display: flex;
    align-items: center;
    column-gap: 40px;
    a{
        color: #FFFFFF;
        font-family: "Open Sans", sans-serif;
    }
}

.marginHeader{
    height: 60px;
}