<div class="containerHeader">
  <header class="d-flex justify-content-between align-items-center width-page">
    <a href="/" class="left" style="text-decoration: none;">
      <img src="/images/logo.png" alt="">
      <span>AgroSeguro</span>
    </a>
    <div class="right"  *ngIf="!isLoggedIn">
      <a href="/login">Iniciar sesión</a>
      <a href="/register">Registrarse</a>
    </div>

    <div class="right" *ngIf="isLoggedIn">
      <a href="/login">Perfil</a>
      <a href="/panel">Historial</a>
      <a href="/history">Zona IA</a>
      <a href="">Cerrar sesión</a>
    </div>
  </header>
</div>
<div class="marginHeader"></div>