<div class="min-height width-page">
  <h1 class="panel-title">Historial de Datos Ambientales</h1>

  <div class="table-container generalShadow borderRadius">
    <table class="data-table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Temperatura</th>
          <th>Humedad</th>
          <th>Alerta</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medida of medidas">
          <td data-label="Fecha">{{ formatearFecha(medida.hora) }}</td>
          <td data-label="Hora">{{ formatearHora(medida.hora) }}</td>
          <td data-label="Temperatura">{{ medida.temp }}°C</td>
          <td data-label="Humedad">{{ medida.hum }}%</td>
          <td data-label="Alerta">{{ getAlerta(medida.temp) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
