<div class="min-height width-page">
    
    <h1 class="panel-title">Perfil de la unidad productiva</h1>
    
    <form class="form-container generalShadow borderRadius">
        <div class="form-group">
            <label for="farmName" class="form-label">Nombre de la unidad productiva:</label>
            <input type="text" id="farmName" class="form-value generalShadow borderRadius" value="Finca El Progreso">
        </div>

        <div class="form-group">
            <label for="location" class="form-label">Ubicación:</label>
            <input type="text" id="ubication" class="form-value generalShadow borderRadius" value="Barranquilla - Colombia">
        </div>

        <div class="form-group">
            <label for="size" class="form-label">Tamaño (hectáreas):</label>
            <input type="number" id="size" class="form-value generalShadow borderRadius" value="12">
        </div>

        <div class="form-group">
            <label for="cropType" class="form-label">Tipo de cultivo:</label>
            <Select class="form-value generalShadow borderRadius" id="type">
              <option value="1" selected>Maiz</option>
            </Select>
        </div>

        <div class="form-group">
            <label for="responsible" class="form-label">Responsable:</label>
            <input type="text" id="size" class="form-value generalShadow borderRadius" value="Juan Pérez">
        </div>

        <div class="form-group">
            <label for="lastUpdate" class="form-label">Última Actualización:</label>
            <div id="lastUpdate" class="form-value generalShadow borderRadius">18/06/2025</div>
        </div>
        <br>
        <!-- <input type="submit" class="save-form generalShadow borderRadius" value="Guardar"> -->
    </form>
</div>