<section class="d-flex flex-column justify-content-center  align-items-center min-height">
  <form action="" class="generalShadow ">
    <h1 class="title-form">Iniciar sesión en Agroseguro</h1>
    <div class="d-flex flex-column justify-content-center style-form">
      <div class="container-input">
        <p class="title-input">Usuario:</p>
        <input type="email">
      </div>
      <div class="container-input">
        <p class="title-input">Contraseña:</p>
        <input type="password">
      </div>
      <button>Ingresar</button>
    </div>
  </form>
</section>